.header {
  padding: 8px 16px;
  background-color: rgb(154, 0, 0);
  border-end-start-radius: 20px;
  border-end-end-radius: 20px;

  display: flex;
  align-items: center;
  gap: 42px;
}

.logo {
  font-size: 22px;
  color: whitesmoke;
}
